* {
    box-sizing: border-box;
}

/* reset CSS */
table {	
    font-size: 100%;
}
/* end reset CSS */

body {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 21px;
}

body.mobile {
    font-size: 32px;
}

.navbar-brand {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    font-size: 100%;
}

.title {
    cursor: pointer;
    padding: 15px 20px;
}

.title a {
    display: inline-block;
}

li.title:hover {
    background-color: #eee;
}

.panel {
    border-radius: 0;
    font-size: 100%;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: #fff;
    font-size: 100%;
}

.navbar-default {
    background-image: none;
    background-color: #fff;
    box-shadow: none;
    font-size: 100%;
}

.navbar-brand, .navbar-nav {
    font-size: 24px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -30px;
}

body.mobile .navbar {
    padding: 20px 20px;
    margin: 4% 4% 0% 4%;
    border-radius: 20px;
}

body.mobile #navbar-bs {
    margin-top: 20px;
    padding-top: 15px;
}

body.mobile .nav>li {
    padding: 5px 0;
}

body.mobile .navbar-brand {
    font-size: 36px;
}

body.mobile .navbar-nav {
    font-size: 32px;
}

body.mobile div.outer {
    margin: 40px 4% 2% 4%;
}

body.mobile .navbar-nav>li>a {
    line-height: 40px;
}

body.mobile .navbar-default .navbar-toggle {
    transform: scale(1.3);
    transform-origin: right;
}

div.outer {
    margin: 50px 10% 2% 10%;
}

.list-group {
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}

div.date {
    font-size: 80%;
    color: darkgray;
}

div.word-count {
    float: right;
    color: darkgray;
    line-height: 100%;
}

@media screen and (max-width: 860px) { 
    div.word-count {
        display: none;
    } 
} 

/* paginator CSS */
.paginator {
    text-align: right;
    margin: 4% 10% 4% 10%;
}

.paginator .page-number,
.paginator .extend {
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 15px 20px;
}

.paginator .page-number:hover,
.paginator .extend:hover {
    background-color: #eee;
    font-size: 100%;
}

/* footer */
.footer {
    margin-top: 35px;
    margin-bottom: 25px;
}

.oldblog {
    margin-top: 35px;
    margin-bottom: 45px;
}

#articleCounts {
    display: none;
}


/* ----------------------  micro blog ----------------------- */

/* 加载动画 */
@keyframes ldio-fwkeq5l2tj8 {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

.ldio-fwkeq5l2tj8 div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-fwkeq5l2tj8 1s cubic-bezier(0,0.2,0.8,1) infinite;
}

.ldio-fwkeq5l2tj8 div:nth-child(1) {
  border-color: #e90c59
}

.ldio-fwkeq5l2tj8 div:nth-child(2) {
  border-color: #46dff0;
  animation-delay: -0.5s;
}

.loadingio-spinner-ripple-8txk08frrfa {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-fwkeq5l2tj8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-fwkeq5l2tj8 div { box-sizing: content-box; }
/* generated by https://loading.io/ */



/* ---------- 微博内容样式 ---------- */

.micro-blog {
    font-size: 18px;
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.micro-blog p,
.micro-blog ul,
.mobile .micro-blog p,
.mobile .micro-blog ul {
    line-height: 1.8;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.micro-blog blockquote p,
.micro-blog blockquote ul,
.mobile .micro-blog blockquote p,
.mobile .micro-blog blockquote ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.micro-blog blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.mobile .micro-blog blockquote {
    font-size: 90%;
}

.mobile .micro-blog div.outer {
    margin: 40px 4% 2% 4%;
}

.mobile .micro-blog {
    font-size: 32px;
}

.micro-blog .list-group-item {
    margin-bottom: 40px;
    border: 1px solid #c0d3eb;
    padding: 0px;
    border-radius: 6px;
}

.micro-blog .list-group-item:after {
    position: absolute;
    top: 0;
    bottom: -40px;
    left: 15px;
    display: block;
    width: 2px;
    content: "";
    background-color: #e1e4e8;
    z-index: -1;
}

.micro-blog .list-group-item .date {
    font-size: 100%;
    background-color: #f1f8ff;
    border-bottom: 1px solid #c0d3eb;
    color: #000;
    padding: 5px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
}

.micro-blog .list-group-item .date a {
    position: absolute;
    right: 20px;
}

.micro-blog .list-group-item .content {
    padding: 0px 20px;
}

.mobile .micro-blog .list-group-item .date {
    font-size: 100%;
    background-color: #f1f8ff;
    border-bottom: 1px solid #c0d3eb;
    color: #000;
    padding: 10px 25px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.mobile .micro-blog .list-group-item .content {
    padding: 0px 25px;
}

/* 表格样式 */
.micro-blog table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}
.micro-blog table tr:nth-child(2n) {
    background-color: #f6f8fa;
}
.micro-blog table td,
.micro-blog table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

/* tabs */
.micro-blog .ul-tabs {
    margin-bottom: 40px;
}
.mobile .micro-blog .ul-tabs {
    margin-bottom: 50px;
}


