* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
}

/* reset CSS */
table {
  font-size: 100%;
}
/* end reset CSS */

body {
  font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 18px;
}

body.mobile {
  font-size: 32px;
}

P, li {
line-height: 1.8;
}

H1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
}

H2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-bottom: 60px;
  margin-bottom: 40px;
  padding: 5px;
  border-bottom: 2px LightGrey solid;
  width: 98%;
  line-height: 150%;
  color: #666666;
}


H3 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px LightGrey solid;
  width: 98%;
  line-height: 150%;
  color: #666666;
}


H4 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px LightGrey solid;
  width: 98%;
  line-height: 150%;
  color: #666666;
}

.box {
  padding: 2% 8% 5% 8%;
  border: 1px solid LightGrey;
}


li {
  margin-left: 10px;
}


blockquote {
  border-left: 5px lightgrey solid;
  padding-left: 15px;
  margin-left: 20px;
  background: #f4f4f4;
}


pre {
  font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
  font-size: 90%;
  background-color: #f8f8f8;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 5px;
  line-height: 1.3;
}

.hljs {
  background-color: #f8f8f8;
}

p code{
  font-size: 90%;
  background-color: #f4f4f4;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding: 0 3px;
  margin: 0 3px;
}

a {
  text-decoration: none;
  cursor: crosshair;
  border-bottom: 1px dashed orange;
  color: #930ee4;
}


a:hover {
  background-color: LightGrey;
}


img {
  display: block;
  box-shadow: 0 0 10px #555;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 10px #555;
}

img.displayed {
  text-align: center;
  display: block;
}

hr {
  color: LightGrey;
}

p.notice {
  color: #AA4433;
  font-size: 14px;
}

div.outer {
  margin: 2% 5% 2% 5%;
}

body.mobile div.outer {
  margin: 2% 0% 2% 0%;
}

div.inner {
  margin: 0% 14%;
  padding: 2% 8% 4% 8%;
  border: 1px solid LightGrey;
}

body.mobile div.inner {
  margin: 0;
  padding: 2% 4% 4% 4%;
}

div.ad-banner {
  margin: 0% 14%;
}

body.mobile div.ad-banner {
  margin: 0;
}

.side-ad.mobile {
  display: none;
}

.left {
  float: left;
  clear: both;
  width: 50%;
  padding: 25 24 25 0;
  border-top: 1px solid lightblue;
}

.right {
  float: left;
  clear: none;
  width: 50%;
  padding: 25 0 25 24;
  border-top: 1px solid lightblue;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  clear: both;
}

.align-right {
  text-align: right;
}

/* 标签页 */
.tag-list-count {
  margin-left: 10px;
}

/* image no shadow */
.no-shadow {
  box-shadow: 0 0 0px #fff;
}

/* custom modal style */
.modal a {
  border-bottom: 0px;
  cursor: pointer;
}
.modal a:hover {
  background-color: rgba(0,0,0,0);
}
.blocker {
  background-color: rgba(0,0,0,0.35) !important;
}
.modal {
  box-shadow: 0 0 0px #000 !important;
  text-align: center !important;
}
.modal a.close-modal {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAAdxJREFUOBGtVc1KAzEQzmRtvXgS0SoiiCfP7gMUpIK2xZ8X8SCKjyD4KqJipWI92AfYuyepetAq4kUv/nTH+aJZdmMotZrDJvlm5stkZjJLyjOiKMq1208rTLyiFIfMNAE1Ir6Vb0RMh4XC8GEYhu+uOblA7aSxquJ4l1nNuLL0nkhdKq03q4sLBxncbphZH9cbOzJvWqyXmYh2K0sL2zLH0B+wRv2QwRYOiC2WW/iYK+Oa3In3AfQ7KNBruD4hAXf3jxe+mMlpj6zUSPoQHwY5Yjo+NjKrTTY9CSDSG2owmBPVVkJI6kpTLpR4rSfY9wIOgUt/lUZWDC9UnvaqpdINDeqiIRWyQOWK5fL8dUD5fXHpIWsl8ZQy06izHwK5Jr/GzdrZ2ZQltWT1+vlkh1+bko1R1w5cdHR8+iyLoZ9CINSChyDFzpL54g256L+Ih12GPAn9pk0lQKuT+9Dyarra6K/n5CFNxQyepa+fSVTKFFxyGkUpzCyRFDdmbkx9SQGXxkN3CVF7sfpYzsaMpy2pzBVfUsDVtbCNF242US4uJh4lhW1akHQN10uz9xj6yIyucIDLZMy8QekaXtIeQHQc28aSEvhuQb8mte3LnpvUmAX+rcFaQsx/+QV8AuR7CRNqTx1aAAAAAElFTkSuQmCC) !important;
  background-size: 25px 25px !important;
  top: 5px !important;
  right: 5px !important;
}

/* table style */
.table {
  display: block;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  margin-inline-end: 40px;
  margin-inline-start: 40px;
}
.table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.table th, .table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

/****** weibo card ******/
.cards {
  background: #f4f4f4;
  padding: 15px;
  padding-left: 30px;
  border-radius: 10px;
}
.card {
  display: flex;
}
.card-time {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  color: #808080;
  font-style: oblique;
  flex-basis: 80px;
}
.card-content {
  padding: 0 20px;
  margin: 15px;
  background: #fff;
  border-radius: 10px;
  flex-basis: 90%;
}

@media screen and (max-width: 860px) { 
 
  .card {
    display: flex;
    flex-direction: column;
  }
  .card-time {
    display: flex;
    align-items: flex-end;
    color: #808080;
    font-style: oblique;
  }
  .card-time>p {
    margin: 0;
  }
  .card-time:empty {
    display:none;
  }
  .card-content {
    padding: 0 30px;
    margin: 15px 0px;
    background: #fff;
    border-radius: 10px;
    max-width: 97%;
  }
} 


/*********************************/

/* subtitle description */
sd {
  font-size: 75%;
  color: #0006;
}
sd:hover {
  color: #000f;
}

sd-time {
  font-size: 75%;
  display: block;
  line-height: 3;
  color: #0006;
}
sd-time:hover {
  color: #000f;
}